* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encoded sans Expanded", sans-serif;
  border-radius: 50px;
}

.square {
  border-radius: 50px;
  margin: auto;
  width: 50%;
  align-items: center;
  margin-bottom: 50px;
}

.jumbotron {
  background-image: linear-gradient(to right, hsl(73, 92%, 53%) #dd2f9a);
  color: whitesmoke;
}
